/*
COLORS:

white: #0d0d0d #dcdcdc
black: #dcdcdc #0d0d0b
light black: #191919

*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");

@font-face {
  font-family: Roslindale;
  src: url(/assets/font/roslindale/Roslindale-TextMedium-Testing.woff);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  /* background: #e5e5e5; */
}
b {
  font-weight: 700;
}
h1 {
  font-family: Roslindale;
  font-size: 7.2rem;
  font-weight: 400;
}

h2 {
  font-family: Roslindale;
  font-size: 5.2rem;
  font-weight: 400;
  color: #6f7b6a;
}

h3 {
  font-family: Roslindale;
  font-size: 4.2rem;
  font-weight: 400;
  color: #6f7b6a;
}

h4 {
  font-family: Roslindale;
  font-size: 3.2rem;
  font-weight: 400;
  color: #273920;
  opacity: 90%;
}

p {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: rgba(0, 0, 0, 0.6);
}

.mt-6 {
  margin-top: 3.7rem;
}

.home-hero-section {
  background-image: url(/assets/home-hero.png);
  background-size: cover;
  color: #fff;
  padding-top: 0;
}

.overlay {
  position: absolute;
  width: 1920px;
  height: 82%;
  left: 0px;
  top: 0px;
  z-index: 0;

  background: #52564d;
  mix-blend-mode: overlay;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
  height: 4px;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #000000;
}
.scrolling-wrapper::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.scrolling-wrapper .card {
  width: 103.2rem;
  height: 64rem;
  display: inline-block;
  margin-right: 2rem;
  position: relative;
}

.scrolling-wrapper .card .card-body {
  width: 100%;
  margin: 0;
  padding-left: 5rem;
  padding-bottom: 5rem;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.44861694677871145) 65%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  z-index: 1000;
}

.scrolling-wrapper .card .card-body .card-title {
  font-family: Roslindale;
  font-style: normal;

  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.scrolling-wrapper .card .card-body .card-subtitle {
  font-family: Roslindale;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.scrolling-wrapper .card .card-body .card-text {
  font-family: Roslindale;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.scrolling-wrapper-2 {
  overflow: auto;
  white-space: nowrap;
  padding: 1rem;

  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper-2::-webkit-scrollbar {
  display: none;
}

.scrolling-wrapper-2 .card {
  display: inline-block;
}

.home-hero-text {
  padding-top: 10rem;
  color: #fff;
}

.home-hero-section p,
.home-hero-section a {
  color: #fff;
}

.home-hero-section .btn {
  border: 1px solid #fff;
}

.home-third-section img {
  width: 80%;
}

.show2 {
  position: absolute;
  left: 85%;
}

.home-fourth-section img {
  /* width: 42.4rem; */
}

.fourth-text {
  margin-top: 10rem;
}

.form-control {
  border-radius: 0%;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 4rem;
  margin-top: 6rem;
  font-size: 2rem;

  border-bottom: 1px solid #000;
}

.form-control::placeholder {
  font-size: 2.4rem;
}

.testimonials {
  margin-left: 1rem;
}

.card {
  width: 42rem;
  border: none;
  border-radius: 0%;
  padding: 0;
  margin: 2rem;
}

.card-title {
  margin-bottom: 1rem;
}

.card-text {
  font-size: 2.4rem;
  color: #273920;
}

.card-body {
  margin: 2rem;
}

.services-hd {
  font-family: "Quattrocento Sans", sans-serif;
  margin-top: 13.5rem;
  margin-left: 10rem;
}

.services {
  color: #000;
}

.team-img {
  width: 100%;
}
.abt-sec-img {
  width: 100%;
}

span {
  display: inline-block;
}

header {
  padding-top: 1.5rem;
  margin-top: 0;
}

.header-section {
  background: rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(4px);
  margin-top: 0;
}

li {
  float: right;
  padding-right: 4rem;
}

.nav-link {
  font-size: 1.8rem;
  color: black;
}

.nav-link:hover {
  color: #6f7b6a;
}

span {
  font-size: 1.8rem;
}

.btn-panda {
  border: solid 1px black;
  border-radius: 0%;
  /* padding: 10px 20px; */
  width: 15rem;
  font-size: 1.8rem;
}

.btn-panda-body {
  border: solid 1px black;
  border-radius: 0%;
  /* padding: 10px 20px; */
  width: 15rem;
  font-size: 1.8rem;
  height: 5rem;
}

.btn-panda:hover,
.btn-panda-body:hover {
  color: #fff;
  background-color: #6f7b6a;
  border: solid 1px #fff;
}

section {
  padding-top: 7rem;
  padding-bottom: 20rem;
}

.abt-hero-text {
  margin-top: 10rem;
}

.abt-hero-imgs {
  position: relative;
}

.abt-hero-img-1 {
  position: absolute;
  width: 42.4rem;
}

.abt-hero-img-2 {
  position: absolute;
  transform: translate(-35%, 15%);
  width: 42.4rem;
}

.abt-second-text {
  /* padding-top: 10rem; */
  padding-left: 15rem;
}

hr {
  border: 2px solid #6f7b6a;
  opacity: 0.5;
  width: 70%;
}

.hr {
  width: 40%;
}

.lines {
  position: relative;
}

.lines-2 {
  position: relative;
}

.lines img {
  position: absolute;
  width: 100%;
  transform: translateY(-150%);
  z-index: -1;
}

.lines-2 img {
  top: 15rem;
  position: absolute;
  width: 32%;
  transform: translateY(-150%);
  z-index: -1;
}

.home-hr {
  width: 100%;
  border: 1px solid #6f7b6a;
  transform: matrix(-0.99, -0.07, -0.16, 1, 0, 0);
}

.home-hr2 {
  width: 100%;
  border: 1px solid #6f7b6a;
  transform: matrix(-0.99, 0.07, -0.16, -1, 0, 0);
}

.abt-contact-text {
  margin-top: 3rem;
  padding-left: 15rem;
}

.abt-third-section img {
  width: 37rem;
}

footer {
  background-color: #6f7b6a;
}

.footer-logo {
  margin-left: 10rem;
}

.footer a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #9ca3af;
  text-decoration: none;
  display: block;
  margin-bottom: 2rem;
}

.footer {
  padding-bottom: 10rem;
}

footer p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.83rem;
  color: #fff;
}

@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
  .abt-second-text {
    padding-left: 4rem;
  }

  .abt-contact-text {
    padding-left: 4rem;
  }

  .show2 {
    display: none;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 40%;
  }

  .footer-logo img {
    width: 10rem;
  }

  .footer-logo {
    margin-left: 1rem;
  }

  .container {
    padding-left: 2rem;
  }

  .abt-hero-imgs {
    display: none;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 40%;
  }

  .footer-logo img {
    width: 7rem;
  }

  .btn-panda {
    width: 12rem;
  }
}

@media (max-width: 1110px) {
  .abt-hero-imgs img {
    width: 30rem;
  }

  .abt-hero-text {
    margin-top: 5rem;
  }
}
